/* Основни стилове за страницата */
.form {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%; 
}

.background-image {
    position: fixed;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    z-index: -1;
    object-fit: cover;
    filter: blur(5px) brightness(1);
}

/* стил на форми за автентикация */
.cardBox {
    align-self: start;
    position: relative;
    top: 7vh;
    width: 100%;
    max-width: 400px;
    background: var(--card-bg);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 50px 0 var(--card-shadow);
}

input.form-control {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.25rem;
    border: 1px solid var(--disabled-background);
    border-radius: var(--border-radius);
    background: var(--input-bg);
}

input.form-control:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 1px 6px 0 var(--input-focus-shadow);
}

button.btn-primary {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

button.btn-primary:hover {
    background-color: var(--primary-color);
    color: white;
}

button.btn-primary:focus:active {
    outline: none;
    background-color: var(--primary-color);
    box-shadow: 0 0 0 0;
}

/*  Стилове за опции */
a.text-decoration-none {
    color: var(--secondary-color);
    text-decoration: none;
}

a.text-decoration-none:hover {
    color: var(--primary-color);
}

ul {
    padding: 0;
}

#togglePassword:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    outline: var(--secondary-color);
}

#togglePassword {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: var(--secondary-color);
}

input#togglePassword:focus {
    outline: none !important;
    box-shadow: none !important;
}

#deviceConnectionForm, #deviceInfoView {
    height: auto;
}