* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
}

main {
    display: flex;
    flex-direction: column;
}

.hero-section {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, #ebf5ef 65%, #004953 35%);
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.hero-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5% 0 5% 0;
}

/* Hero Text */

.hero-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0 5% 0 5%;
}

.hero-heading {
    font-size: 2.8rem;
    font-weight: bold;
    color: #10262e;
    margin-bottom: 1rem;
}

.hero-lead {
    font-size: 1.5rem;
    color: #162f37;
    margin-bottom: 1.5rem;
}

.hero-btn {
    background-color: #004953;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    font-weight: bold;
}

.hero-btn:hover {
    background-color: #0d8191;
    color: white;
}

/* Hero Image */

.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.hero-image {
    border-radius: 6px;
    width: auto;
    height: 100%;
}

/* Photo Section */

.photo-section {
    width: 100%;
    height: 70vh;
}

.photo-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 3% 0 3% 0;
}

.photo-box {
    position: relative;
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.photo-image {
    width: 100%;
    height: 86%;
    object-fit: fill;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 73, 83, 0.8);
    height: 0;
    transition: height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo-box:hover .photo-image {
    transform: scale(1.1);
    filter: blur(3px);
}

.photo-box:hover .overlay {
    height: 50%;
}

.photo-box:hover .overlay-text {
    opacity: 1;
}

.photo-text {
    font-size: 1.5rem;
    color: #004953;
    margin-top: 1rem;
}

/* Media Queries */
@media (max-width: 1300px) {
    .hero-content {
        max-width: 100%; /* Поставя ограничение на ширината на контейнера */
        margin: 0 auto; /* Центрира контейнера */
        padding: 0 5%; /* Намалява разстоянието от двете страни */
        display: flex;
        justify-content: space-between; /* Разстоянието между елементите остава равномерно */
        align-items: center; /* Центрира съдържанието вертикално */
        gap: 5%; /* Добавя фиксирано разстояние между текст и изображение */
    }

    .hero-text {
        padding: 2rem; /* Увеличава вътрешните отстояния */
        width: 40%;
        height: auto; /* Позволява височината да се адаптира към съдържанието */
    }

    .hero-btn {
        font-size: 1.2rem;
        padding: 10px 20px;
        width: 70%;
    }

    .hero-image-container {
        width: 45%; /* Намалява ширината на изображението */
        height: auto;
    }

    .hero-image {
        width: 400px; /* Същия размер за снимката */
        height: auto;
    }

    /* Промени за photo-content */
    .photo-section {
        padding: 0 5%; /* Намалява разстоянието от страните на екрана */
        height: 80vh; /* Задава височината на секцията да е 80% от височината на екрана */
    }

    .photo-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem; /* Намалява разстоянието между елементите */
        align-items: center;
        padding: 3% 0;
        width: 100%;
        height: 100%; /* Позволява височината да се адаптира */
    }

    .photo-box {
        width: 25%;
        height: 80%; /* Позволява височината на снимката да се адаптира */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
    }

    .photo-image {
        width: 100%;
        height: 82%; /* Височината ще се адаптира към контейнера */
        object-fit: cover; /* Поддържа съотношението на изображението, като го приспособява към контейнера */
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .photo-section {
        height: 60vh;
    }
}

@media (max-width: 900px) {
    .hero-container {
        max-width: 100%; /* Намалява ширината на контейнера */
        margin: 0 auto; /* Центрира контейнера */
        padding: 0 5%; /* Намалява разстоянието от страните */
        display: flex;
        justify-content: space-between; /* Равномерно разстояние между елементите */
        align-items: center; /* Центрира съдържанието вертикално */
        flex-direction: column;
    }

    .hero-text {
        width: 40%; /* Намалява ширината на текстовия контейнер */
        padding: 1rem; /* Намалява вътрешните отстояния */
        font-size: 1.1rem; /* Намалява размера на текста */
    }

    .hero-title {
        font-size: 1.3rem; /* Намалява размера на заглавието */
        margin-bottom: 0.5rem; /* Намалява разстоянието под заглавието */
    }

    .hero-heading {
        font-size: 1.7rem;
    }

    .hero-lead {
        font-size: 1.2rem;
    }

    .hero-btn {
        font-size: 1.1rem; /* Намалява още размера на бутона */
        padding: 7px 12px; /* Намалява размерите на бутона */
        width: 80%;
    }

    .hero-image-container {
        width: 45%; /* Намалява ширината на контейнера за изображението */
    }

    .hero-image {
        width: 280px; /* Намалява размерите на изображението */
        height: auto; /* Поддържа пропорциите на снимката */
    }
    
    .photo-section {
        height: 50vh;
    }

    .photo-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .photo-box {
        width: 100%;
    }

    .hero-image {
        max-width: 90%;
    }
    
    .photo-text {
        font-size: 0.9rem; /* Намалява размера на текста */
    }
    .photo-box:hover .overlay {
        height: 80%;
    }
}


@media (max-width: 650px) {
    /* Премахване на градиент и добавяне на светъл цвят за hero section */
    .hero-section {
        background: linear-gradient(to right, #ebf5ef 65%, #ebf5ef 35%);
        padding: 4rem 0 55rem; /* Можеш да настроиш това за допълнителен отстъп */
    }

    /* Hero Content - разположени един под друг */
    .hero-content {
        flex-direction: column; /* Променя посоката на елементите, така че да бъдат един под друг */
        align-items: center; /* Центрира елементите по хоризонтала */
    }
    .hero-btn{
        align-self: center;
    }

    /* Hero Text - настройваме ширината */
    .hero-text {
        width: 100%; /* Запълва цялото пространство */
        padding: 1rem; /* Поддържа разстояния около текста */
        font-size: 0.8rem; /* Намалява размера на шрифта */
        text-align: center;
    }

    /* Hero Image Container */
    .hero-image-container {
        width: 100%; /* Запълва цялото пространство */
        margin-top: 1rem; /* Разстояние между текст и изображение */
    }

    /* Hero Image */
    .hero-image {
        width: 90%; /* Понижава ширината на изображението */
        height: auto; /* Поддържа пропорциите на снимката */
    }

    /* Увеличаваме разстоянието между hero секцията и photo секцията */
    .photo-section {
        margin-top: 3rem; /* Увеличаваме разстоянието между hero секцията и photo секцията */
        padding: 4rem 5rem 120rem 5rem; /* Можеш да настроиш това за допълнителен отстъп */
    }

    /* Photo Section - снимките да са една под друга */
    .photo-content {
        flex-direction: column; /* Променя реда на снимките да бъдат подредени вертикално */
        gap: 1.5rem; /* Добавя разстояние между снимките */
        height: auto;
    }

    .photo-box {
        width: 100%; /* Запълва цялото пространство */
        height: auto; /* Височината се адаптира към съдържанието */
    }

    .photo-image {
        width: 100%; /* Изображението заема цялата ширина */
        height: auto; /* Височината се адаптира */
        object-fit: cover; /* Поддържа съотношението на изображението */
    }

    .photo-text {
        font-size: 0.9rem; /* Намалява шрифта на текста */
    }
}