:root {
    --hero-heading-color: #10262e;
    --hero-lead-color: #162f37;
    --overlay-bg-color: rgba(0, 73, 83, 0.8);
    --primary-gradient-color: #ebf5ef;
    --secondary-gradient-color: #004953;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
}

.hero-section {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, var(--primary-gradient-color) 65%, var(--secondary-gradient-color) 35%);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.hero-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}

/* Hero Text */
.hero-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0 5%;
}

.hero-heading {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--hero-heading-color);
    margin-bottom: 1rem;
}

.hero-lead {
    font-size: 1.5rem;
    color: var(--hero-lead-color);
    margin-bottom: 1.5rem;
}

.hero-btn {
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 70%;
    font-weight: bold;
    transition: background-color var(--transition-speed);
}

.hero-btn:hover {
    background-color: var(--primary-color);
}

/* Hero Image */
.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.hero-image {
    border-radius: 6px;
    width: auto;
    height: 100%;
}

/* Photo Section */
.photo-section {
    width: 100%;
    height: 70vh;
}

.photo-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 3% 0;
}

.photo-box {
    position: relative;
    width: 25%;
    height: 80%;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.photo-image {
    width: 100%;
    height: 86%;
    object-fit: fill;
    transition: transform var(--transition-speed), filter var(--transition-speed);
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: var(--overlay-bg-color);
    height: 0;
    transition: height var(--transition-speed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity var(--transition-speed);
}

.photo-box:hover .photo-image {
    transform: scale(1.1);
    filter: blur(3px);
}

.photo-box:hover .overlay {
    height: 50%;
}

.photo-box:hover .overlay-text {
    opacity: 1;
}

.photo-text {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 1rem;
}

/* Media Queries */
@media (max-width: 1300px) {
    .hero-content {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
    }

    .hero-text {
        padding: 2rem;
        width: 40%;
        height: auto;
    }

    .hero-btn {
        font-size: 1.2rem;
        padding: 10px 20px;
        width: 70%;
    }

    .hero-image-container {
        width: 45%;
        height: auto;
    }

    .hero-image {
        width: 400px;
        height: auto;
    }

    .photo-section {
        padding: 0 5%;
        height: 80vh;
    }

    .photo-content {
        gap: 2rem;
    }

    .photo-box {
        width: 25%;
        height: 80%;
    }

    .photo-image {
        width: 100%;
        height: 82%;
    }
}

@media (max-width: 900px) {
    .hero-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .hero-text {
        width: 40%;
        padding: 1rem;
        font-size: 1.1rem;
    }

    .hero-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }

    .hero-heading {
        font-size: 1.7rem;
    }

    .hero-lead {
        font-size: 1.2rem;
    }

    .hero-btn {
        font-size: 1.1rem;
        padding: 7px 12px;
        width: 80%;
    }

    .hero-image-container {
        width: 45%;
    }

    .hero-image {
        width: 280px;
        height: auto;
    }

    .photo-section {
        height: 50vh;
    }

    .photo-content {
        flex-direction: column;
        gap: 1.5rem;
    }

    .photo-box {
        width: 100%;
    }

    .photo-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 650px) {
    .hero-section {
        background: linear-gradient(to right, var(--primary-gradient-color) 65%, var(--primary-gradient-color) 35%);
        padding: 4rem 0 55rem;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .hero-btn {
        align-self: center;
    }

    .hero-text {
        width: 100%;
        padding: 1rem;
        font-size: 0.8rem;
        text-align: center;
    }

    .hero-image-container {
        width: 100%;
        margin-top: 1rem;
    }

    .hero-image {
        width: 90%;
    }

    .photo-section {
        margin-top: 3rem;
    }

    .photo-content {
        flex-direction: column;
        gap: 1.5rem;
    }

    .photo-box {
        width: 100%;
    }

    .photo-text {
        font-size: 0.9rem;
    }
}
