/* Основен стил за менюто */
#tracker-menu {
    position: fixed;
    top: 5rem;
    left: -25rem;
    width: 25rem;
    height: calc(100vh - 5rem);
    background: var(--white);
    border-radius: 0 0.63rem 0.63rem 0;
    box-shadow: 0.13rem 0.13rem 0.63rem var(--box-shadow-color);
    transition: left var(--transition-speed);
    padding: 1.25rem;
    z-index: 1003;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tracker-menu.open {
    left: 0;
}

/* Бутон за отваряне/затваряне на менюто */
#toggle-menu {
    position: absolute;
    right: -2.75rem;
    top: 50%;
    transform: translateY(-30vh);
    width: 3.5rem;
    height: 3.5rem;
    background: var(--white);
    color: var(--text-color);
    border: none;
    border-radius: 0 5.25rem 5.25rem 0;
    box-shadow: 0.13rem 0.13rem 0.63rem var(--box-shadow-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background var(--transition-speed), right var(--transition-speed) ease-in-out;
    font-size: 2rem;
    z-index: 1002;
}

#toggle-menu svg {
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(180deg);
    transition: transform var(--transition-speed), fill var(--transition-speed);
}

#toggle-menu:hover svg {
    transform: rotate(180deg) scale(1.3);
    fill: var(--text-color);
}

#toggle-menu:hover {
    right: -3.25rem;
}

#toggle-menu.active:hover {
    right: -2.75rem;
}

#toggle-menu.active svg {
    transform: rotate(0deg);
}

#toggle-menu.active {
    box-shadow: none;
}

#toggle-menu.active:hover svg {
    transform: rotate(0deg) scale(1.3);
}

/* Съдържание на менюто, стилове за маршрути */
.tracker-content {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

input:-webkit-autofill{
    background-color: var(--white)!important;
    color: var(--text-color)!important;
}

.tracker-btn button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

.tracker-routes {
    max-height: 28.12rem;
    padding: 0.5rem 1rem;
    background: var(--light-gray);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--box-shadow-color);
    width: 100%;
}

#route-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.route-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background: var(--white);
    border-radius: 10px;
    transition: background var(--transition-speed);
}

.route-item:hover {
    background: var(--disabled-background);
}

.route-item.active {
    background: var(--active-route);
}

.route-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.route-date {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.route-toggle {
    font-size: 2rem;
    cursor: pointer;
    color: green;
    margin-left: auto;
    user-select: none;
}

.route-toggle.active {
    color: red;
}

/* Стилове за навигация на страниците на маршрутите */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem 0 1rem;
    gap: 1rem;
}

.nav-button {
    cursor: pointer;
    background-color: var(--white);
    color: var(--text-color);
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--box-shadow-color);
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: var(--light-gray);
}

.nav-button:disabled {
    background: var(--light-gray);
    color: var(--light-gray);
    border: none;
    box-shadow: none;
}

#page-indicator {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Стилове за статистиките на маршрута */
#route-statistics {
    max-height: 70vh;
    overflow-y: auto;
    padding: 1.25rem;
}

.route-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.route-name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#route-name-input {
    font-size: 1.25rem;
    padding: 0.5rem;
    border: 1px solid var(--disabled-background);
    border-radius: var(--border-radius);
    flex-grow: 1;
    background: var(--background-color);
    color: var(--text-color);
}

#save-route-name {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

#save-route-name:hover {
    background-color: var(--secondary-color);
}

#toggle-view-btn {
    margin-top: auto;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    transition: background-color var(--transition-speed);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

#toggle-view-btn:hover {
    background-color: var(--primary-color);
}

#routes-section {
    display: none;
}

#routes-section.visible {
    display: block;
}

/* Стикове за форма за свързване към устройство*/

#deviceInfoView.visible{
    display: flex;
}

#deviceInfoView.hidden{
    display: none!important;
}

#connection-section {
    display: block;
}

#connection-section.hidden {
    display: none;
}

.btn-primary{
    font-size: 1.3rem!important;
}

#deviceInfoView {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: none;
    width: 100%;
}

#save-route-name .material-icons {
    vertical-align: text-bottom;
    font-size: 1.5rem;
}

#deviceInfoView p {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

#deviceInfoView button {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стилове за карта */

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

#map {
    top: -1.25rem;
}

a{
    color: var(--text-color) !important;
    background-color: var(--background-color)!important;
}

#search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Стилизиране на полето за търсене и бутона */
#route-search {
    width: calc(100% - 3.5rem); /* Остави място за бутона */
    flex-grow: 1;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0.5rem 0 0.5rem 0;
}

#route-search:focus {
    border-color: var(--primary-color);
    outline: none;
}

#search-btn {
    width: 3rem; /* Стандартен размер на бутона */
    height: 3rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center; 
    transform: translateY(0.25rem);
}

#search-btn:hover {
    background-color: var(--secondary-color);
}

#search-btn .material-icons {
    font-size: 1.5rem;
    padding-top: 0.2rem;
}