.form {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.background-image {
    position: fixed;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    z-index: -1;
    object-fit: cover;
    filter: blur(5px) brightness(1);
}
/* Card styling */
.cardBox {
    align-self: start;
    position: relative;
    top: 7vh;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


input.form-control {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.form-control:focus {
    outline: none;
    border: 1px solid #2F5431;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
}

button.btn-primary {
    width: 100%;
    padding: 0.75rem;
    background-color: #A4ADA5;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #2F5431;
}

button.btn-primary:focus:active {
    outline: none;
    background-color: #2a4c2c;
    box-shadow: 0 0 0 0;
}

/* Link styling */
a.text-decoration-none {
    color: #701423;
    text-decoration: none;
}

ul{
    padding: 0;
}

#togglePassword:checked {
    background-color: #2F5431;
    border-color: #2a4c2c;
    outline: #2a4c2c;
}

#togglePassword{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: #2a4c2c;
}

input#togglePassword:focus {
    outline: none !important;
    box-shadow: none !important;
}

input#togglePassword::before:checked:focus {
    background-color: #2F5431;
    border-color: #2a4c2c;
    outline: #2a4c2c;
}

#deviceConnectionForm, #deviceInfoView{
    height: 108px;
}

@media (max-width: 767px) {
    .card {
        margin: 1rem;
    }

    #deviceConnectionForm {
        height: 250px;
    }

    #deviceConnectionForm > div {
       margin-bottom: 1rem;
    }

    #map{
        height: 75% !important;
    }
}